function priceFormatter(price, number) {
  var number = number || 2;
  var f_price = parseFloat(price);
  return f_price.toFixed(number);
}
function timestampFormatter(timestamp, format) {
  return '999000';
}

module.exports = {
  priceFormatter: priceFormatter,
  timestampFormatter: timestampFormatter
}